
<div class="container align-content-center text-center justify-content-center mt-5">
    <div class="cols-1 text-center m-5">
            <h1 class="text-primary fw-bold mt-5 mb-4">
                About Me
            </h1>
            <p class="col fs-5 text-center px-5">
                I am a highly skilled and versatile computer science engineer with over 5 years of experience in C#, specializing in video game development and web technologies. My expertise spans both 2D and 3D game development, and I excel in creating immersive gaming experiences for local and multiplayer formats. Additionally, I am proficient in using modern web development frameworks like React and Blazor.

                My participation in 4 Game Jams has not only showcased my technical abilities but also helped me develop essential soft skills such as leadership, teamwork, and effective communication. I thrive in high-pressure environments and approach new challenges with enthusiasm and a drive for innovation.

                My curiosity and passion for learning fuel my creativity, enabling me to push boundaries and create extraordinary experiences, whether in game development or web technologies.
            </p>
     </div>
</div>
