<div class="text-center">
    <h1 class="display-4">Hi! I'm <a class="text-primary text-decoration-none fw-bold">José Pablo</a></h1>
    <h2>Systems engineer specialized in front-end, videogames development and .NET</h2>
    <img class="foto" src="~/imagenes/pablo_poblette.jpeg" alt="foto Pablo Poblette" />
    <section>
        <a href="https://www.linkedin.com/in/jos%C3%A9-pablo-gonz%C3%A1lez-poblette-31b24b252/" target="blank" style="text-decoration: none">
            <i class="bi bi-linkedin icon text-black"></i>
        </a>
        <a href="https://github.com/PabloGP88" target="blank" style="text-decoration: none">
            <i class="bi bi-github icon text-black"></i>
        </a>
    </section>
    <div class="row justify-content-center text-center bg-primary mt-3">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>
                Welcome to my portfolio
            </h1>
            <p>
                I have participated in multiple hackathons since 2018, where I have achieved 2 third places, 2 second places, and 1 first place at the national level.
                I am the creator of a game development studio called ChasiGames, with which I have successfully published 2 games on the Play Store. My main skills
                include Unity, Unreal, C#, and ASP.NET.
            </p>
        </div>
    </div>
</div>