@{
}
<div class="row justify-content-center bg-primary mt-5 pb-5">
    <div class="col col-md-7 text-white mt-5">
        <h1 class="mb-4 fw-bold text-center">
            Skills
        </h1>
        <div class="row justify-content-center gap-4">
            <div class="bg-white text-black text-start p-5 skills row gap-2">
                <h4 class="fw-bold">Programming</h4>
                <p>
                    C#, C++, Java, Python, JavaScript, HTML5, CSS3, SQL.
                </p>
            </div>
            <div class="bg-white text-black text-start  p-5 skills row gap-2">
                <h4 class="fw-bold">Technologies</h4>
                <p>
                    Unity, .NET, Unreal Engine, Figma, Firebase, Git, GitHub, VS Code, Visual Studio,
                    MySQL, Plastic SCM, OpenGL, React, Blazor.

                </p>
            </div>
            <div class="bg-white text-black text-start  p-5 skills row gap-2">
                <h4 class="fw-bold">Soft-Skills</h4>
                <p>
                    Leadership, teamwork, creativity, critical thinking, adaptability, communication.
                </p>
            </div>
            <div class="bg-white text-black text-start  p-5 skills row gap-2">
                <h4 class="fw-bold">Languages</h4>
                <p>
                    Spanish, English.
                </p>
            </div>
        </div>
    </div>
</div>
